<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="component-engine">
            <directory>packages/core/component-engine/tests</directory>
        </testsuite>
        <testsuite name="orm">
            <directory>packages/core/orm/tests</directory>
        </testsuite>
        <testsuite name="push-hub">
            <directory>packages/core/push-hub/tests</directory>
        </testsuite>
        <testsuite name="typing-contracts">
            <directory>packages/core/typing-contracts/tests</directory>
        </testsuite>
        <testsuite name="kernel">
            <directory>packages/framework/kernel/tests</directory>
        </testsuite>
        <testsuite name="queue">
            <directory>packages/core/queue/tests</directory>
        </testsuite>
        <testsuite name="dev-server">
            <directory>packages/devtools/dev-server/tests</directory>
        </testsuite>
        <testsuite name="store">
            <directory>packages/core/store/tests</directory>
        </testsuite>
        <testsuite name="debugbar">
            <directory>packages/devtools/debugbar/tests</directory>
        </testsuite>
        <testsuite name="security">
            <directory>packages/core/security/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
