<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="component-engine">
            <directory>packages/core/component-engine/tests</directory>
        </testsuite>
        <testsuite name="orm">
            <directory>packages/core/orm/tests</directory>
        </testsuite>
        <testsuite name="push-hub">
            <directory>packages/core/push-hub/tests</directory>
        </testsuite>
        <testsuite name="typing-contracts">
            <directory>packages/core/typing-contracts/tests</directory>
        </testsuite>
        <testsuite name="kernel">
            <directory>packages/framework/kernel/tests</directory>
        </testsuite>
        <testsuite name="queue">
            <directory>packages/core/queue/tests</directory>
        </testsuite>
        <testsuite name="dev-server">
            <directory>packages/devtools/dev-server/tests</directory>
        </testsuite>
        <testsuite name="store">
            <directory>packages/core/store/tests</directory>
        </testsuite>
        <testsuite name="debugbar">
            <directory>packages/devtools/debugbar/tests</directory>
        </testsuite>
        <testsuite name="security">
            <directory>packages/core/security/tests</directory>
        </testsuite>
        <testsuite name="auth">
            <directory>packages/core/auth/tests</directory>
        </testsuite>
        <testsuite name="validation">
            <directory>packages/core/validation/tests</directory>
        </testsuite>
        <testsuite name="http">
            <directory>packages/core/http/tests</directory>
        </testsuite>
        <testsuite name="config">
            <directory>packages/core/config/tests</directory>
        </testsuite>
        <testsuite name="authorization">
            <directory>packages/core/authorization/tests</directory>
        </testsuite>
        <testsuite name="mail">
            <directory>packages/core/mail/tests</directory>
        </testsuite>
        <testsuite name="logging">
            <directory>packages/core/logging/tests</directory>
        </testsuite>
        <testsuite name="error-handler">
            <directory>packages/core/error-handler/tests</directory>
        </testsuite>
        <testsuite name="cache">
            <directory>packages/core/cache/tests</directory>
        </testsuite>
        <testsuite name="console">
            <directory>packages/core/console/tests</directory>
        </testsuite>
        <testsuite name="testing">
            <directory>packages/core/testing/tests</directory>
        </testsuite>
        <testsuite name="container">
            <directory>packages/core/container/tests</directory>
        </testsuite>
        <testsuite name="templating">
            <directory>packages/core/templating/tests</directory>
        </testsuite>
        <testsuite name="rate-limiting">
            <directory>packages/core/rate-limiting/tests</directory>
        </testsuite>
        <testsuite name="events">
            <directory>packages/core/events/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">packages/core/component-engine/src</directory>
            <directory suffix=".php">packages/core/orm/src</directory>
            <directory suffix=".php">packages/core/push-hub/src</directory>
            <directory suffix=".php">packages/core/typing-contracts/src</directory>
            <directory suffix=".php">packages/core/queue/src</directory>
            <directory suffix=".php">packages/devtools/dev-server/src</directory>
            <directory suffix=".php">packages/core/store/src</directory>
            <directory suffix=".php">packages/devtools/debugbar/src</directory>
            <directory suffix=".php">packages/core/security/src</directory>
            <directory suffix=".php">packages/core/auth/src</directory>
            <directory suffix=".php">packages/core/validation/src</directory>
            <directory suffix=".php">packages/core/http/src</directory>
            <directory suffix=".php">packages/core/config/src</directory>
            <directory suffix=".php">packages/core/authorization/src</directory>
            <directory suffix=".php">packages/core/mail/src</directory>
            <directory suffix=".php">packages/core/logging/src</directory>
            <directory suffix=".php">packages/core/error-handler/src</directory>
            <directory suffix=".php">packages/core/cache/src</directory>
            <directory suffix=".php">packages/core/console/src</directory>
            <directory suffix=".php">packages/core/testing/src</directory>
            <directory suffix=".php">packages/core/container/src</directory>
            <directory suffix=".php">packages/core/templating/src</directory>
            <directory suffix=".php">packages/core/rate-limiting/src</directory>
            <directory suffix=".php">packages/core/events/src</directory>
            <directory suffix=".php">packages/bridge/adapter/src</directory>
            <directory suffix=".php">packages/framework/kernel/src</directory>
        </include>
    </source>
</phpunit>
